/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

select,
input {
  background: none;
  appearance: none;
  border: none;
  outline: none;
}

/*variables*/
:root {
  --color-primary: #333333;
  --color-secondary: #c29e81;
  --color-white: #ffffff;
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #efefef;
  --border-color: #dfcdbe;
  --border-color-secondary: #bfbfbf;
}

/* fonts */
@font-face {
  font-family: "Fuse";
  src: url("assets/fonts/Fuse/Fuse-Light.woff2") format("woff2");
  src: url("assets/fonts/Fuse/Fuse-Light.woff") format("woff");
  src: url("assets/fonts/Fuse/Fuse-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fuse";
  src: url("assets/fonts/Fuse/Fuse-Regular.woff2") format("woff2");
  src: url("assets/fonts/Fuse/Fuse-Regular.woff") format("woff");
  src: url("assets/fonts/Fuse/Fuse-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fuse";
  src: url("../assets/fonts/Fuse/Fuse-Bold.woff2") format("woff2");
  src: url("../assets/fonts/Fuse/Fuse-Bold.woff") format("woff");
  src: url("../assets/fonts/Fuse/Fuse-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UbunruMono";
  src: url("assets/fonts/UbuntuMono/UbuntuMono-Regular.woff2") format("woff2");
  src: url("assets/fonts/UbuntuMono/UbuntuMono-Regular.woff") format("woff");
  src: url("assets/fonts/UbuntuMono/UbuntuMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* global */
body {
  font-family: "Fuse", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-primary);
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* header */
.header {
  display: flex;
  justify-content: end;
  color: var(--color-primary);
  background: var(--border-color);
}

.header__wrapper {
  padding: 10px 48px 10px 36px;
}

.menu {
  display: flex;
  gap: 56px;
}

.menu__item {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.menu__link {
  transition: color 0.3s ease-in-out;
}

.menu__link:hover {
  color: #ffffff;
}

/* main */
.main {
  display: grid;
  grid-template-columns: 11fr 25fr;
}

.main__left-column {
  margin-left: 56px;
  background: var(--bg-color-secondary);
  border-inline: 4px solid var(--border-color);
}

.main__right-column:last-child {
  margin-bottom: 40px;
}

/* avatar */
.avatar {
  height: 250px;
  display: flex;
  justify-content: center;
  border-bottom: 14px solid var(--border-color);
}

.avatar {
  margin-bottom: 100px;
}

.avatar__image {
  width: 270px;
  height: 270px;
  margin-top: 64px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

/* contact */
.contact,
.languages {
  padding: 24px 24px 0px 24px;
}

.contact__title,
.languages__title {
  padding-bottom: 4px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--color-primary);
  border-bottom: 2px solid var(--border-color-secondary);
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 18px;
}

.contact__list li:not(:last-child) {
  margin-bottom: 16px;
}

.contact_icon {
  width: 30px;
  height: 30px;
}

/* languages */
.skills__list,
.languages__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills__item,
.languages__item {
  margin-left: 32px;
  list-style: disc;
}

/*person*/
.person {
  height: 250px;
  display: flex;
  justify-content: space-between;
  border-bottom: 14px solid var(--border-color);
}

.person__wrapper {
  align-self: center;
}

.person__name {
  padding-left: 60px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 8px;
}

.person__name span {
  color: var(--color-secondary);
}

.person__speciality {
  padding-left: 65px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.person__connor {
  padding-top: 15px;
  padding-right: 15px;
}

.person__connor-icon {
  width: 150px;
  align-self: flex-start;
}

/* sections */
.summary,
.skills,
.education,
.experience,
.example {
  padding: 24px 36px 0px 24px;
}

.summary__title,
.skills__title,
.education__title,
.experience__title,
.example__title {
  padding-bottom: 4px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--color-secondary);
  border-bottom: 2px solid var(--border-color);
}

.summary__text-block p:not(:last-child) {
  margin-bottom: 10px;
}

.info {
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  line-height: 20px;
}

.info__title {
  margin-bottom: 6px;
  grid-column: span 2;
  font-weight: bold;
}

.info__list {
  grid-column: span 2;
}

.info__link:hover,
.contact__item span:hover {
  text-decoration: underline;
  color: var(--color-secondary);
}

.info__period {
  justify-self: end;
  font-size: 16px;
}

.info__period-string {
  justify-self: end;
}

.code {
  font-family: "UbunruMono", monospace;
  background: var(--bg-color-secondary);
}

.code__key {
  color: #0077cc;
}

.code__string {
  color: #228b22;
}

.code__method {
  color: #ff4500;
}

.code__comment {
  color: #555555;
  font-style: italic;
}

/* footer */
.footer {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 700;
  color: var(--color-primary);
  background: var(--color-secondary);
}

.footer__wrapper {
  padding: 15px 26px 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__github {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease-in-out;
}

.footer_github-icon {
  width: 36px;
  height: 36px;
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.footer__github:hover,
.footer__github:focus {
  color: var(--color-white);
}

.footer__github:hover .footer_github-icon,
.footer__github:focus .footer_github-icon {
  fill: var(--color-white);
}

.copyright {
  font-family: sans-serif;
}

.rs-icon {
  height: 42px;
  fill: var(--color-primary);
  transition: fill 0.3s ease-in-out;
}

.footer_github-icon:hover,
.rs-icon:hover {
  fill: var(--color-white);
}